.banner{
    background-image: url("/../public/assets/images/banner.jpg");
    background-size: cover;
    background-position: center;
    height: 150px;
    position: relative;
}


.container{
    width: clamp(300px, 85%, 95%);
    margin: 0 auto;
}


.postContainer{
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem 0;
}